.navBar {
        text-align: center;
      }

    /* Lengthens the search bar*/
    .navbar-search {
   max-width: 500px;
  }
    
    nav {
   text-align: center;
  background-color: #1a1a1a;
  height:66px;
}

/*------------- THE SPACE BAR --------------*/
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400&display=swap');

input[type="submit"] {
  height: 30px;
  border: 0px solid;
  width: 50px;
  background: #778833;
  position: relative;
  margin-right: 160px;
  transform: skew(-5deg);
  color: white;
  cursor: pointer;
  z-index: 0;
  transition: all 300ms linear;
  font-weight: 700;
  font-family: 'Sarpanch', sans-serif;
}

input[type="submit"]:hover {
  background: white;
  transition: all 300ms linear;
  color: rgb(30,30,30);
}

.search-bar {
  position:relative;
  height:35px;
  width:300px;
  padding: 0px 10px 0px 10px;
  transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background: rgb(30,30,30);
  color: white;
  margin-right: -75px;
  margin-top: 25px; margin-bottom: -25px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #71a663;
  font-family: 'Sarpanch', sans-serif;
}

.search-bar:focus {
  width:320px;
  outline: none;
  transform: skew(-5deg);
  background: #3E471B;
  margin-right: 0px;
  border: 1px solid rgb(50,50,50);
  cursor: text;
  font-family: 'Sarpanch', sans-serif;
  transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.search-bar:focus::placeholder {
  color: transparent;
  transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  padding: 0px;
}

.search-bar::placeholder {
  color: gray;
  padding: 90px;
  transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  font-family: 'Sarpanch', sans-serif;
}

 /* --------------END OF SPACE BAR--------------*/

ul {
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  padding: 0;
  display: flex;
  list-style-type: none;
  font: 17px helvetica;
  text-align: center;
}

li {
  flex: 1;
  height: 66px;
  background: #1a1a1a;
}


li:hover{
    flex:1.1;
    transition:all .2s ease;
    background: #778833;
}
 
 /* Carousel related styling */

    
    .item.active{
        background-position: center;
        position:relative;
    }

  .carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:200px;
  } 
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
      text-shadow: 2px 2px 10px #101010;
    }
  }


/* --------- PARALLAX EFFECT BEGINNING  --------*/
  body, html {
  height: 100%;
}

  .parallax {
  /* The image used */
  background-image: url('https://scontent.fpos3-1.fna.fbcdn.net/v/t31.18172-8/17436338_281398422295568_3449239431408161300_o.jpg?_nc_cat=106&ccb=1-3&_nc_sid=e3f864&_nc_ohc=Hcc9urGgz5wAX-MfkPq&_nc_ht=scontent.fpos3-1.fna&oh=a39c79ec3990e453954b293838c7d37c&oe=60983F19');

  /* Full height */
  height: 88.5%; 
  width: 100%; 
  padding-top: 5%;
  margin: 0;; 

  /* Creates the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}
/* --------- PARALLAX EFFECT ENDING -----------*/



  .container.text-center{
      position: relative;

      height: 45%; 
  width: 100%; 
  padding-left:5%;
  padding-top:5%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


/* --------- HOVER RELATED STYLINGS ------------ */

.Experiences > *{
    display: inline-block;
    margin-left: 15px;
}


.image{
    position: relative;
    width: 200px;
  }

  .img_load{
    display: block;
    width: 200px;
    height: 300px
  }

  .overlay{
    position: absolute;
    float:left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
  }

.overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
    float:left;
    top: 0;
    left: 0;
    bottom: 0;
}
  .overlay:hover{
    opacity: 1;
    
  }

  .overlay:hover > *{
    transform: translateY(0);
  }

  .overlay > p{
      width: 85%;
      font-size: 14px;
  }


/* --------- HOVER RELATED STYLINGS END ------------ */

